@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #493628;
    --cor-secundaria: #E4E0E1; /* f6f6f6 (o 'branco') do design original */
    --cor-terciaria: #AB886D; /* verde do design original*/
    --cor-hover: #D6C0B3;

    --font-primaria: "Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
}

* { 
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
    font-weight: 600;
    text-decoration: none;
    font-size: 24px;
}

img {
    width: 340px;
    height: 340px;
}
.titulo-destaque {
    color:var(--cor-terciaria);
}
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao_conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao_conteudo_titulo {
    font-size: 36px;
    font-family: var(--font-primaria);
    font-weight: 400;
    font-style: normal;
}
.apresentacao_conteudo_texto {
    font-size: 24px;
    font-family: var(--font-secundaria);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
mark {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
mark:hover {
    font-size: 25px;
}
.apresentacao_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /*alinahs ols elementos verticalmente */
    gap: 32px;
}
.apresentacao_links_subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 24px;
}
.apresentacao_links_link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-weight: 600;
}
.apresentacao_links_link:hover {
    background-color: var(--cor-hover);
}
.logo {
    width: 32px;
    height: 32px;
}
.rodape {
    padding: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 14px;
}